
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:500);


body {background: #9176DE;
text-align: center;
font-family: helvetica, sans-serif
font-size: 16px;
}

h1 {
	font-family: 'Amatic SC', Helvetica, Serif;
	color: 2A2240;
}

	

p {color:0C0A2B;
width:30em;
font-size: 1em;
line-height: 1.5em;
}