
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul {
	list-style-type: none;
	text-transform: uppercase;
}

/*aside { 
background-color:  #FFC675;
border: 1px black solid;
	padding: 20px;
}



article { 
background-color: #E89C6C;
border: 1px black solid;
	padding: 20px;
}*/

footer {
background-color: #FF957E;
border: 1px black solid;
	padding: 20px;
	text-align: center;
	text-transform: small uppercase;
}

div { 
background-color:  #FFE2B8;
border: 1px black solid;
	padding: 20px;
}